BODY{
	margin:20px;
}

TABLE{
	background-color: #5380AA;
	border:1px solid #000000;
}

.Header{
	border-bottom:1px solid #000000;
}

.LeftPane{
	padding:15px;
}

.RightPane{
	font:normal normal bold 11px verdana;
	color: #FFFFFF;
	text-align:left;	
}

.Footer{
	background-color:#292663;
	border-top:1px solid #000000;
	font:normal normal normal 10px verdana;
	color:#FFFFFF;
	text-align:center;
}

.Blink{
    animation:2s blinker linear infinite;
    -webkit-animation:2s blinker linear infinite;
    -moz-animation:2s blinker linear infinite;

     color: white;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }